*{
    padding: 0%;
    margin: 0%;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
#nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 -2px 12px rgb(173, 170, 170);
}

#nav ul{
    display: flex;
}

#nav ul li{
    list-style: none;
}
nav a{
    color: rgb(116, 116, 116);
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    border-spacing: 5px ;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    
}
a:hover{
    background-color:rgb(202, 202, 199);
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.img-text{
    position: relative;
}
.text{
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    margin: 25px;
    color: rgb(83, 83, 83);
}
.mar{
    color: rgb(96, 96, 96);
}

.tbs-abt{
    display: flex;
    border: 50px;
    margin: 4rem 8rem;
    gap: 50px;
}

.about-details{
    margin: 30px 0;
}

#About{
    margin-bottom: 60px;
    font-size: xx-large;
}

mark{
    background-color: #adaaaa;
}
#tbs img{
    width: 450px;
    border: 5px
}
#cater{
    font-size: 18px;
    text-align:left;
    word-spacing: 4px;
    line-height: 25px;
}
#abt{
    text-align: center;
}
#le{
    position: relative;
}

#menu{
    font-size: xx-large;
    text-align: center;
}

.menu{
    margin: 4rem 6rem;
    padding: 80px 0;
    border-top: 1px solid #eae6e6;
border-bottom: 1px solid #eae6e6;
display: flex;
justify-content: space-between;
}

#menu-texts .menu-texts-col{
    margin-bottom: 70px;
}
.shift{
    margin-bottom: 25px;
    font-weight: 100;
}

.omg{
    color: rgb(96, 96, 96);
    font-size: 15px;
}

h2 p{
    font-size: 19px;
}
#Menu{
    text-align: center;
}
 #Menu{
    text-align: center;
 }
 #Menu-h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 100;
 }

 .contact-form{
    width: 80%;
    margin: 60px auto;
 }
 
form p{
    border-bottom: 1px solid#eae6e6 ;
    width: 100%;
    font-size: 30px;
}

form p input{
    font-size: 14px;
    margin-top: 10px;
    padding: 25px 10px 16px;
    width: 100%;
}

.form-btn{
    bottom: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 13px;
}
footer{
    background-color: rgba(245, 242, 242, 0.954);
    text-align: center;
    padding: 50px 0;
    font-size: 15px;
}
.ft{
    color: black;
   
}
.ft:hover{
    color: greenyellow;
    background-color: transparent;

}


